<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Recorded Issues</h2>
        <div class="table-responsive">
            <table id="table-recorded-issues" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Report number</th>
                        <th>Employee assigned</th>
                        <th>Classification</th>
                        <th>Status</th>
                        <th>Creation date</th>
                        <th>Report Timestamp</th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
</div>